<!--CURRICULUM-->


<!-- formacion Section
   ================================================== -->
   <section id="resume" class="grey-section">
       <!--breadcrum-->
        
                <h6 class="breadcrum"> 
                    <a class="smoothscroll" [routerLink]="['']" title="">Home</a>
                | Curriculum
                    </h6>
       

    <div class="row section-intro">
       <div class="col-twelve">
           <h1>Curriculum</h1>

          

       </div>   		
   </div> <!-- /section-intro--> 

   <div class="row resume-timeline">

       <div class="col-twelve resume-header">

           <h2>Formación Académica/Cursos</h2>

       </div> <!-- /resume-header -->

       <div class="col-twelve">

           <div class="timeline-wrap">

               <div class="timeline-block">

                   <div class="timeline-ico">
                       <i class="fa fa-graduation-cap"></i>
                   </div>

                   <div class="timeline-header">
                       <h3>Java SE-EE </h3>
                       <p>Abril 2019 - Julio 2019</p>
                   </div>

                   <div class="timeline-content">
                       <h4>Fundación telefónica; Conecta Empleo</h4>
                       <p class="works">Arquitectura MVC • Framework Spring • Jquery • Javascript • SQL</p>
                   </div>

               </div> <!-- /timeline-block -->

               <div class="timeline-block">

                   <div class="timeline-ico">
                       <i class="fa fa-graduation-cap"></i>
                   </div>

                   <div class="timeline-header">
                       <h3>Marketing Digital</h3>
                       <p>Diciembre 2018 - Enero 2019</p>
                   </div>

                   <div class="timeline-content">
                       <h4>Google Activate</h4>
                       <p class="works">SEO-SEM • Marketing • Analítica • E-Commerce • Plan MKT</p>
                   </div>

               </div> <!-- /timeline-block -->

               <div class="timeline-block">

                   <div class="timeline-ico">
                       <i class="fa fa-graduation-cap"></i>
                   </div>

                   <div class="timeline-header">
                       <h3>Master en Diseño y Producción Web</h3>
                       <p>Septiembre 2015 - Abril 2016</p>
                   </div>

                   <div class="timeline-content">
                       <h4>CICE</h4>
                       <p class="works">Adobe Creative Suite • HTML 5 • CSS3 • Jquery • Javascript • Framework-Bootstrap • Wordpress</p>
                   </div>

               </div> <!-- /timeline-block -->
               <div class="timeline-block">

                    <div class="timeline-ico">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
 
                    <div class="timeline-header">
                        <h3>Técnico Superior en Diseño y Producción Editorial</h3>
                        <p>Septiembre 2004 - Abril 2006</p>
                    </div>
 
                    <div class="timeline-content">
                        <h4>Salesianos Atocha</h4>
                        <p class="works">Adobe Photoshop • Indesign • Ilustrator • Freehand • QuarkXpress</p>
                    </div>
 
                </div> <!-- /timeline-block -->

           </div> <!-- /timeline-wrap -->   			

       </div> <!-- /col-twelve -->
       
   </div> <!-- /formacion-timeline -->


   <!-- experiencia Section
   ================================================== -->
   <section id="resume" class="grey-section">
       
 
    <div class="row resume-timeline">
 
        <div class="col-twelve resume-header">
 
            <h2>Experiencia Profesional</h2>
 
        </div> <!-- /resume-header -->
 
        <div class="col-twelve">
 
            <div class="timeline-wrap">
 
                <div class="timeline-block">
 
                    <div class="timeline-ico">
                        <i class="fa fa-briefcase"></i>
                    </div>
 
                    <div class="timeline-header">
                        <h3>Diseño web Freelance</h3>
                        <p>Autónomo 2016 - 2019</p>
                    </div>
 
                    <div class="timeline-content">
                        <h4>150pixels</h4>
                        <p class="works">Identidad corporativa • Coordinar Desarrollo Web • SEO • Wordpress.</p>
                    </div>
 
                </div> <!-- /timeline-block -->
 
                <div class="timeline-block">
 
                    <div class="timeline-ico">
                        <i class="fa fa-briefcase"></i>
                    </div>
 
                    <div class="timeline-header">
                        <h3>Diseñador Gráfico/Web</h3>
                        <p>Marzo 2016 - Diciembre 2016</p>
                    </div>
 
                    <div class="timeline-content">
                        <h4>Editafácil</h4>
                        <p class="works">Diseñador de contenidos web • Logotipo • Catálogos • Infografías • Plantillas etc...</p>
                    </div>
 
                </div> <!-- /timeline-block -->
 
                <div class="timeline-block">
 
                    <div class="timeline-ico">
                        <i class="fa fa-briefcase"></i>
                    </div>
 
                    <div class="timeline-header">
                        <h3>Diseñador Gráfico</h3>
                        <p>Julio 2007 - Diciembre 2012</p>
                    </div>
 
                    <div class="timeline-content">
                        <h4>Editorial ADAMS</h4>
                        <p class="works">Realizar y coordinar diseño en editorial ADAMS.</p>
                    </div>
 
                </div> <!-- /timeline-block -->
                <div class="timeline-block">
 
                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>
     
                        <div class="timeline-header">
                            <h3>Diseñador Gráfico</h3>
                            <p>Julio 2006 - Diciembre 2006</p>
                        </div>
     
                        <div class="timeline-content">
                            <h4>Diario La Razón</h4>
                            <p class="works">Realizar y coordinar diseño en editorial ADAMS.</p>
                        </div>
     
                    </div> <!-- /timeline-block -->
 
            </div> <!-- /timeline-wrap -->   			
 
        </div> <!-- /col-twelve -->
        
    </div> <!-- experiencia timeline -->

<!-- concocimientos Section
   ================================================== -->

    <div class="row about-content">

            <div class="col-twelve resume-header">
 
                    <h2>Conocimientos</h2>
         
                </div> <!-- /resume-header -->

            <div class="col-six tab-full">
 
                <h3>front-end</h3>
                
 
                 <ul class="skill-bars">
                    <li>
                        <div class="progress"></div> 
                        <strong>HTML5</strong>
                    </li>
                    <li>
                        <div class="progress"></div>
                        <strong>CSS3</strong>
                    </li>
                    <li>
                        <div class="progress"></div>
                        <strong>JQuery</strong>
                    </li>
                    <li>
                        <div class="progress"></div>
                        <strong>Javascript</strong>
                    </li>
                    <li>
 
                        <div class="progress"></div>
                        <strong>Angular js</strong>
                    </li>
                    <li>
 
                        <div class="progress"></div>
                            <strong>Bootstrap</strong>
                        </li>
                    <li>
 
                         <div class="progress"></div>
                            <strong>SEO</strong>
                        </li>
       
                 </ul> <!-- /skill-bars -->		
 
            </div>
 
            <div class="col-six tab-full">
 
                <h3>back-end</h3>
                
 
                 <ul class="skill-bars">
                    <li>
                        <div class="progress"></div>
                        <strong>Java SE-EE</strong>
                    </li>
                    <li>
                        <div class="progress"></div>
                        <strong>Spring</strong>
                    </li>
                    <li>
                        <div class="progress"></div>
                        <strong>MySQL</strong>
                    </li>
                    <li>
                        <div class="progress"></div>
                        <strong>Wordpress</strong>
                    </li>
                    <li>
 
                            <div class="progress"></div>
                        <strong>Woocommerce</strong>
                    </li>
       
                 </ul> <!-- /skill-bars -->		
 
            </div>
 
        </div>