 <!-- about section
   ================================================== -->
   <section id="about">  

        <div class="row section-intro">
            <div class="col-twelve">

                <h5>Sobre Mí</h5>
                <h1>Una Pequeña presentación.</h1>

                <div class="intro-info">

                    <img src="assets/images/profile-pic.gif" alt="Profile Picture">

                    <p class="lead">Soy <strong>Técnico Superior en Diseño</strong> y <strong>Producción Editorial</strong> y tengo un <strong>Master en Diseño y Producción Web</strong>.

                        Llevo unos cuantos años como <strong>Diseñador gráfico y Desarrollador Front-End</strong> realizando diseños y 
                        sitios web capaces de superar las expectativas iniciales de mis clientes, todos dentro del enorme abanico digital, 
                        diseñando del lado del cliente <strong >[front-end: html/css, Javascript, Angular(junior)] </strong>
                        y empezando a desarrollar del lado del servidor <strong >[back-end (junior)]: Java EE, Spring Framework, Sql, NodeJs, MongoDB)]</strong>, 
                        además de tener experiencia de varios años en gestores de contenido o CMS como Wordpress y amplia experiencia como Diseñador Gráfico..</p>
                </div>  
                <a class="button stroke smoothscroll" [routerLink]="['sobre-mi/curriculum']" title="más info"><i class="icon-eye"></i> CV </a> 
                			

            </div>   		
        </div> <!-- /section-intro -->
    </section>