 <!-- about section
   ================================================== -->
   <section id="about">  

        <div class="row section-intro">
            <div class="col-twelve">

                <h5>Sobre Mí</h5>
                <h1>Una Pequeña presentación.</h1>

                <div class="intro-info">

                    <img src="assets/images/profile-pic.gif" alt="Profile Picture">

                    <p class="lead">Mi nombre es jesús, llevo años como desarrollador Front-End realizando sitios web
                        capaces de superar las expectativas iniciales de mis clientes y colaborando con otras
                        empresas a desarrollar otro tipo de productos, todos dentro del enorme abanico digital,
                        diseñando del lado del cliente (front-end ) y empezando a desarrollar del lado
                        del servidor (back-end) y además tengo conocimientos básicos en Marketing Digital
                        y Posicionamiento (SEO).</p>
                </div>  
                <a class="button stroke smoothscroll" [routerLink]="['sobre-mi/curriculum']" title="más info"><i class="icon-eye"></i> CV </a> 
                			

            </div>   		
        </div> <!-- /section-intro -->
    </section>