<!-- Portfolio : Diseño Web Section
   ================================================== -->
   <section id="portfolio">

      <!--breadcrum-->
     
            <h6 class="breadcrum"> 
                <a class="smoothscroll"  [routerLink]="['']" title="home">Home</a>
            | Diseño Web
                </h6>
    <!--end-->

    <div class="row section-intro">
       <div class="col-twelve">
           <h5>Diseño web</h5>
           <h1>Échale un Vistazo.</h1>

           <p class="lead">Trabajos como Diseñador/Desarrollador web </p>
       </div>   		
   </div>   <!-- /section-intro--> 

   
            <!--Portfolio Wrapper-->
   <div class="row portfolio-content">
       <div class="col-twelve">
         <div id="folio-wrapper" class="block-1-2 block-mob-full stack">


            <!--Angular & JAva-->
            <div class="bgrid folio-item">
               <div class="item-wrap">
                   <img src="assets/images/portfolio/java_angular/tareas.gif" alt="Tareas App: CRUD">
                  <a href="#modal-01" class="overlay">	                  	           
                     <div class="folio-item-table">
                         <div class="folio-item-cell">
                                    <h3 class="folio-title">Tareas App</h3><br>
                                    <h4 class="folio-title1">CRUD<br> Angular | MongoDb | Node | Express</h4>	     					    
                                      <span class="folio-types">
                                          Desarrollo Web / MEAN Stack
                                    </span>
                                </div>	                      	
                     </div>                    
                  </a>
               </div>	               
                </div> <!-- /folio-item -->

                <div class="bgrid folio-item">
               <div class="item-wrap">
                   <img src="assets/images/portfolio/java_angular/almacen_java1.gif" alt="Almacén: CRUD">
                   <a href="#modal-02" class="overlay">              		                  
                     <div class="folio-item-table">
                         <div class="folio-item-cell">
                             <h3 class="folio-title">Almacén de Música</h3><br>
                             <h4 class="folio-title1">CRUD<br> Java EE | MySQL | JSP | MVC</h4>

                                     <span class="folio-types">
                                       Desarrollo Web / Java EE
                                   </span>		     		
                                </div> 	                      	
                     </div>                    
                  </a>
               </div>
                </div> <!-- /folio-item -->


                <!--Morata & Demadi Rows-->
             <div class="bgrid folio-item">
               <div class="item-wrap">
                   <img src="assets/images/portfolio/diseno-web/morata/dw_morata01.jpg" alt="Morata Web Turismo">
                  <a href="#modal-01" class="overlay">	                  	           
                     <div class="folio-item-table">
                         <div class="folio-item-cell">
                                    <h3 class="folio-title">Morata Web Turismo</h3>	     					    
                                      <span class="folio-types">
                                          Diseño Web / Wordpress
                                    </span>
                                </div>	                      	
                     </div>                    
                  </a>
               </div>	               
                </div> <!-- /folio-item -->

                <div class="bgrid folio-item">
               <div class="item-wrap">
                   <img src="assets/images/portfolio/diseno-web/demadi/dw_demadi01.jpg" alt="demadi">
                   <a href="#modal-02" class="overlay">              		                  
                     <div class="folio-item-table">
                         <div class="folio-item-cell">
                             <h3 class="folio-title">Demadi</h3>	     					    
                                     <span class="folio-types">
                                          Diseño Web / Wordpress
                                   </span>		     		
                                </div> 	                      	
                     </div>                    
                  </a>
               </div>
                </div> <!-- /folio-item -->

                <!--Intext & Fermin Rows-->
            <div class="bgrid folio-item">
               <div class="item-wrap">
                   <img src="assets/images/portfolio/diseno-web/intext/intext3.jpg" alt="Intext asociados">
                  <a href="#modal-03" class="overlay">             		                  
                     <div class="folio-item-table">
                         <div class="folio-item-cell">
                             <h3 class="folio-title">Intext Asociados</h3>	     					    
                                     <span class="folio-types">
                                          Diseño Web / Wordpress
                                   </span>		     		
                                </div> 	                      	
                     </div>                    
                  </a>
               </div>
                </div> <!-- /folio-item -->

            <div class="bgrid folio-item">
               <div class="item-wrap">
                   <img src="assets/images/portfolio/diseno-web/fermin/fermin9-1024x768.jpg" alt="Fermín rey">
                  <a href="#modal-04" class="overlay">                  	                 
                     <div class="folio-item-table">
                         <div class="folio-item-cell">
                             <h3 class="folio-title">Fermín Rey</h3>	     					    
                                     <span class="folio-types">
                                          Diseño web / Branding 
                                   </span>		     		
                                </div>  	                      	
                     </div>                    
                  </a>
               </div>
                </div> <!-- /folio-item -->  
                
                
                <!--Silvia & vigoos Rows-->
                <div class="bgrid folio-item">
               <div class="item-wrap">
                   <img src="assets/images/portfolio/diseno-web/silvia/silvia_1200.jpg" alt="Silvia Gordo Design">
                  <a href="#modal-05" class="overlay">             		                  
                     <div class="folio-item-table">
                         <div class="folio-item-cell">
                             <h3 class="folio-title">Silvia Gordo Design</h3>	     					    
                                     <span class="folio-types">
                                          Diseño Web / Wordpress
                                   </span>		     		
                                </div> 	                      	
                     </div>                    
                  </a>
               </div>
                </div> <!-- /folio-item -->

            <div class="bgrid folio-item">
               <div class="item-wrap">
                   <img src="assets/images/portfolio/diseno-web/r_viggos/vigos_1200.jpg" alt="restaurante Viggos">
                  <a href="#modal-06" class="overlay">
                     <div class="folio-item-table">
                         <div class="folio-item-cell">
                             <h3 class="folio-title">Restaurante Viggos</h3>	     					    
                                     <span class="folio-types">
                                          Diseño Web / Wordpress
                                   </span>		     		
                                </div>	                      	
                     </div>                    
                  </a>
               </div>
                </div> <!-- /folio-item -->   

            <!-- modal popups - begin
            ============================================================= -->

            <!--tarea crud modal1-->
            <div id="modal-01" class="popup-modal slider mfp-hide">	

               <div class="media">
                   <img src="assets/images/portfolio/java_angular/tareas.gif" alt="Tareas CRUD" />
               </div>      	

             <div class="description-box">
                <h4>Morata Web Turismo</h4>		      
                <p>Desarrollo y Diseño realizado con Angular | MongoDb | Node | Express</p>

                <div class="categories">MEAN Stack</div>			               
             </div>

           <div class="link-box">
              <a href="https://github.com/jesusaiz/Angular_CRUD_Mongo_Express_Node" target="_blank">Ir a la Web</a>
                <a href="#" class="popup-modal-dismiss">Cerrar</a>
           </div>		      

         </div> <!-- /modal-01 -->



         <!--almacen crud modal2-->
         <div id="modal-02" class="popup-modal slider mfp-hide">	

               <div class="media">
                   <img src="assets/images/portfolio/java_angular/almacen_java1.gif" alt="Almacen CRUD" />
               </div>      	

             <div class="description-box">
                <h4>Almacén de Música CRUD</h4>		      
                <p>Desarrollo y Diseño realizado con Java EE | MySQL | JSP | MVC</p>

                <div class="categories">Java EE</div>			               
             </div>

           <div class="link-box">
              <a href="https://github.com/jesusaiz" target="_blank">Ir a la web</a>
                <a href="#" class="popup-modal-dismiss">Cerrar</a>
           </div>		      

         </div> <!-- /modal-02 -->



            <div id="modal-01" class="popup-modal slider mfp-hide">	

                     <div class="media">
                         <img src="assets/images/portfolio/diseno-web/morata/morata3.jpg" alt="morata web" />
                     </div>      	

                   <div class="description-box">
                      <h4>Morata Web Turismo</h4>		      
                      <p>Diseño realizado para la web de turismo de Morata de Tajuña</p>

                      <div class="categories">Wordpress</div>			               
                   </div>

                 <div class="link-box">
                    <a href="https://morataturismo.es/es/" target="_blank">Ir a la Web</a>
                      <a href="#" class="popup-modal-dismiss">Cerrar</a>
                 </div>		      

               </div> <!-- /modal-01 -->

               <div id="modal-02" class="popup-modal slider mfp-hide">	

                     <div class="media">
                         <img src="assets/images/portfolio/diseno-web/demadi/demadi1.jpg" alt="demadi" />
                     </div>      	

                   <div class="description-box">
                      <h4>Demadi</h4>		      
                      <p>Trabajos realizados en Wordpress para la empresa Demadi</p>

                      <div class="categories">Wordpress</div>			               
                   </div>

                 <div class="link-box">
                    <a href="https://www.demadi.com/" target="_blank">Ir a la web</a>
                      <a href="#" class="popup-modal-dismiss">Cerrar</a>
                 </div>		      

               </div> <!-- /modal-02 -->

               <div id="modal-03" class="popup-modal slider mfp-hide">	

                     <div class="media">
                         <img src="assets/images/portfolio/diseno-web/intext/intext1.jpg"  alt="intext asociados" />
                     </div>      	

                   <div class="description-box">
                      <h4>Intext Asociados</h4>		      
                      <p>Diseño y desarrollo Realizado para la empresa Intext Asociados</p>

                      <div class="categories">Wordpress</div>			               
                   </div>

                 <div class="link-box">
                    <a href="https://www.intextasociados.com/" target="_blank">Ir a la Web</a>
                      <a href="#" class="popup-modal-dismiss">Cerrar</a>
                 </div>		      

               </div> <!-- /modal-03 -->

               <div id="modal-04" class="popup-modal slider mfp-hide">	

                     <div class="media">
                         <img src="assets/images/portfolio/diseno-web/fermin/fermin12-1024x768.jpg" alt="Fermín Rey" />
                     </div>      	

                   <div class="description-box">
                      <h4>Fermín Rey</h4>		      
                      <p>Diseño Web y Branding para la empresa Fermín Rey</p>

                      <div class="categories">Diseño Web / Branding</div>			               
                   </div>

                 <div class="link-box">
                    <a href="https://www.fermin-rey.com/" target="_blank">Ir a la Web</a>
                      <a href="#" class="popup-modal-dismiss">Cerrar</a>
                 </div>		      

               </div> <!-- /modal-04 -->

               <div id="modal-05" class="popup-modal slider mfp-hide">	

                     <div class="media">
                         <img src="assets/images/portfolio/diseno-web/silvia/silviaslid7.jpg" alt="Silvia Gordo Design" />
                     </div>      	

                   <div class="description-box">
                      <h4>Silvia Gordo Design</h4>		      
                      <p>Diseño Web realizado para la empresa Silvia Gordo Design</p>

                      <div class="categories">Wordpress</div>			               
                   </div>

                 <div class="link-box">
                    <a href="#services">Ir a la Web</a>
                      <a href="#" class="popup-modal-dismiss">Cerrar</a>
                 </div>		      

               </div> <!-- /modal-05 -->

               <div id="modal-06" class="popup-modal slider mfp-hide">	

                     <div class="media">
                         <img src="assets/images/portfolio/diseno-web/r_viggos/viggos2.jpg" alt="Restaurante Viggos" />
                     </div>      	

                   <div class="description-box">
                      <h4>Restaurante Viggos</h4>		      
                      <p>Diseño Web realizado para la empresa Restaurante Viggos</p>

                      <div class="categories">Wordpress</div>			               
                   </div>

                 <div class="link-box">
                    <a href="#services">ir a la Web</a>
                      <a href="#" class="popup-modal-dismiss">Cerrar</a>
                 </div>		      

               </div> <!-- /modal-06 -->


               <!-- modal popups - end
            ============================================================= -->

         </div> <!-- /portfolio-wrapper --> 

       </div>  <!-- /twelve -->   

   </div> <!-- /portfolio-content --> 
    
</section> <!-- /portfolio Diseño Web Section END--> 
