<header>   	
  <div class="row">

    <div class="top-bar">
      <a class="menu-toggle" href="#"><span>Menu</span></a>

      <div class="logo">
        <img  src="assets/images/logo.gif" alt="jesussaiz logo" title="jesussaiz logo">
       </div>		      

      <nav id="main-nav-wrap">
       <ul class="main-navigation">
         <li class="current"><a class="smoothscroll"  [routerLink]="['']" title="Home">Home</a></li>
         <li><a class="smoothscroll"  [routerLink]="['sobre-mi/curriculum']" title="Sobre mí">Sobre mí</a></li>
         <li><a class="smoothscroll"  [routerLink]="['portfolio/diseno-web']" title="Diseño Web">Diseño Web</a>
          <li><a class="smoothscroll"  [routerLink]="['portfolio/diseno-grafico']" title="Diseño Gráfico">Diseño Gráfico</a>
            
        </li>
         
         
       </ul>
     </nav>  
      		
    </div> <!-- /top-bar --> 
    
  </div> <!-- /row --> 		
</header> <!-- /header -->
