<!-- intro section
   ================================================== -->
   <section id="intro">   

    <div class="intro-overlay"></div>	

    <div class="intro-content">
        <div class="row">

            <div class="col-twelve">

                <h5>Hello, World.</h5>
                <h1>Soy Jesús Saiz</h1>

                <p class="intro-position">
                    <span>Desarrollador Front/Back</span>
                    <span>Diseñador Gráfico</span> 
                </p>

                <a class="button stroke smoothscroll" href="#about" title="">Más sobre mí</a>

            </div>  
            
        </div>   		 		
    </div> <!-- /intro-content --> 

    <ul class="intro-social">
      <li><a href="https://www.behance.net/jesussaizdesigner"><i class="fa fa-behance"></i></a></li>
      <li><a href="https://github.com/jesusaiz"><i class="fa fa-github"></i></a></li>
      <li><a href="https://www.linkedin.com/in/jesus-saiz-sedano-desarrollador-web/"><i class="fa fa-linkedin"></i></a></li>
      
   </ul> <!-- /intro-social -->      	

</section> <!-- /intro -->
