<!-- Portfolio : Diseño Web Section
   ================================================== -->
   <section id="portfolio">

    <!--breadcrum-->
   
          <h6 class="breadcrum"> 
              <a class="smoothscroll"  [routerLink]="['']" title="home">Home</a>
          | github - projects
              </h6>
  <!--end-->

  <div class="row section-intro">
     <div class="col-twelve">
         <h5>github - projects</h5>
         <h1>Échale un Vistazo.</h1>

         <p class="lead">Proyectos subidos a Github como Desarrollador Full Stack<br>
            <strong>¡¡¡Puedes probar su funcionamiento ON-LINE: Haz Click en el proyecto y pulsa => Ir a la web !!!</strong>
         </p>
     </div>   		
 </div>   <!-- /section-intro--> 

 
          <!--Portfolio Wrapper-->
 <div class="row portfolio-content">
     <div class="col-twelve">
      
        <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

          <!--Angular & JAva-->              <div class="bgrid folio-item">
             <div class="item-wrap">
                 <img src="assets/images/portfolio/java_angular/javaSpringBoot.gif" alt="Almacén: API REST">
                 <a href="#modal-02" class="overlay">              		                  
                   <div class="folio-item-table">
                       <div class="folio-item-cell">
                           <h3 class="folio-title">Almacén de Música</h3><br>
                           <h4 class="folio-title1">API REST<br> Java SpringBoot | MySQL | Angular 8 | MVC</h4>

                                   <span class="folio-types">
                                     Desarrollo Web / Java SpringBoot
                                 </span>		     		
                              </div> 	                      	
                   </div>                    
                </a>
             </div>
              </div> <!-- /folio-item -->

               <!--LOGIN: Angular & JAva-->              
            <div class="bgrid folio-item">
               <div class="item-wrap">
                 <img src="assets/images/portfolio/java_angular/loginAPP_showcase.gif" alt="LOGIN: API REST OAUTH SECURITY">
                 <a href="#modal-14" class="overlay">              		                  
                   <div class="folio-item-table">
                       <div class="folio-item-cell">
                           <h3 class="folio-title">App Security-Roles</h3><br>
                           <h4 class="folio-title1">API REST OAUTH SECURITY<br> Java SpringSecurity-Oauth2-JWT | MySQL | Angular 9 </h4>
  
                                   <span class="folio-types">
                                     Desarrollo Web / Java SpringSecurity-Oauth2-JWT
                                 </span>		     		
                              </div> 	                      	
                   </div>                    
                </a>
             </div>
              </div> <!-- /folio-item -->


                <!--WebsocketChat: Angular & JAva-->
          <div class="bgrid folio-item">
             <div class="item-wrap">
                 <img src="assets/images/portfolio/java_angular/apirest_java_spring_angular.gif" alt="Websocket Chat" height="550">
                <a href="#modal-07" class="overlay">	                  	           
                   <div class="folio-item-table">
                       <div class="folio-item-cell">
                                  <h3 class="folio-title">Websocket Chat</h3><br>
                                  <h4 class="folio-title1">Chat<br> Angular | JavaEE | SpringWebsocket | SockJs && StompJs</h4>	     					    
                                    <span class="folio-types">
                                        Desarrollo Web / Websocket
                                  </span>
                              </div>	                      	
                   </div>                    
                </a>
             </div>	               
              </div> <!-- /folio-item -->

              <!-- Tareas app -->
              <div class="bgrid folio-item">
                <div class="item-wrap">
                    <img src="assets/images/portfolio/java_angular/tareas.gif" alt="Tareas App: CRUD">
                   <a href="#modal-01" class="overlay">	                  	           
                      <div class="folio-item-table">
                          <div class="folio-item-cell">
                                     <h3 class="folio-title">Tareas App</h3><br>
                                     <h4 class="folio-title1">CRUD<br> Angular | MongoDb | Node | Express</h4>	     					    
                                       <span class="folio-types">
                                           Desarrollo Web / MEAN Stack
                                     </span>
                                 </div>	                      	
                      </div>                    
                   </a>
                </div>	               
                 </div> <!-- /folio-item -->

                

          <!-- modal popups - begin
          ============================================================= -->

          <!--tarea crud modal1-->
          <div id="modal-01" class="popup-modal slider mfp-hide">	

             <div class="media">
                 <img src="assets/images/portfolio/java_angular/tareas.gif" alt="Tareas CRUD" />
             </div>      	

           <div class="description-box">
              
              <h4>CRUD: Tareas App</h4>		      
              <p>Desarrollo y Diseño realizado con Angular | MongoDb | Node | Express</p>

              <div class="categories">MEAN Stack</div>			               
           </div>

         <div class="link-box">
            <a href="https://github.com/jesusaiz/Angular_CRUD_Mongo_Express_Node" target="_blank">Ir a la Web</a>
              <a href="#" class="popup-modal-dismiss">Cerrar</a>
         </div>		      

       </div> <!-- /modal-01 -->



       <!--almacen crud modal2-->
       <div id="modal-02" class="popup-modal slider mfp-hide">	

             <div class="media">
                 <img src="assets/images/portfolio/java_angular/javaSpringBoot.gif" alt="Almacen API REST" />
             </div>      	

           <div class="description-box">
              <h4>API REST: Almacén de Música</h4>		      
              <p>Desarrollo y Diseño realizado con Java SpringBoot | MySQL | Angular 8 | Typescript</p>

              <div class="categories">Java EE</div>			               
           </div>

         <div class="link-box">
            <a href="https://almacen-angular-app.firebaseapp.com/grupos" target="_blank">Ir a la web</a>
              <a href="#" class="popup-modal-dismiss">Cerrar</a>
         </div>		      

       </div> <!-- /modal-02 -->

         
             <div id="modal-07" class="popup-modal slider mfp-hide">	

                <div class="media">
                    <img src="assets/images/portfolio/java_angular/apirest_java_spring_angular.gif"  alt="Websocket Chat" />
                </div>      	

              <div class="description-box">
                 <h4>Websocket Chat</h4>		      
                 <p>Desarrollo y Diseño realizado con Angular | javaEE | Springwebsocket | SockJs & StompJs</p>

                 <div class="categories">Websocket</div>			               
              </div>

            <div class="link-box">
               <a href="https://chat-angular-socketjs-app.web.app/chat">ir a la Web</a>
                 <a href="#" class="popup-modal-dismiss">Cerrar</a>
            </div>		      

          </div> <!-- /modal-07 -->

          <!-- /modal-14 -->
          <div id="modal-14" class="popup-modal slider mfp-hide">	

            <div class="media">
                <img src="assets/images/portfolio/java_angular/loginAPP_showcase.gif"  alt="Login-Security-App" />
            </div>      	

          <div class="description-box">
             <h4>Login-Security-App</h4>		      
             <p>Desarrollo y Diseño realizado con Angular | javaEE | SpringSecurity-Oauth-JWT </p>

             <div class="categories">Websocket</div>			               
          </div>

        <div class="link-box">
           <a href="https://github.com/jesusaiz">ir a la Web</a>
             <a href="#" class="popup-modal-dismiss">Cerrar</a>
        </div>		      

      </div>


             <!-- modal popups - end
          ============================================================= -->

       </div> <!-- /portfolio-wrapper --> 

     </div>  <!-- /twelve -->   

 </div> <!-- /portfolio-content --> 
  
</section> <!-- /portfolio Diseño Web Section END--> 
