<section id="services">

    <div ></div>

    <div class="row section-intro">
       <div class="col-twelve">

           <h5>Portfolio</h5>
           <h1>Una breve muestra de mis trabajos</h1>

          
           
       </div>   		
   </div> 
   
   <!-- /section-portfolio -->
   <div class="row services-content">

    <div class="services-list">

       <div class="service">	

           <span class="icon"><i class="icon-earth"></i></span>            

         <div class="service-content">	

              <h3>Diseño/Desarrollo Web</h3>

             <p class="desc">Aquí tienes una pequeña muestra de mis trabajos como Diseñador/Desarrollador Web
              </p>

              <a class="button stroke smoothscroll" [routerLink]="['portfolio/diseno-web']" title="Diseño Web"><i class="icon-eye"></i> +</a>
              
          </div> 	         	 

         </div> <!-- /portfolio -->

         <div class="service">	

             <span class="icon"><i class="icon-image"></i></span>                          

         <div class="service-content">	

             <h3>Diseño Gráfico</h3>  

             <p class="desc">Aquí tienes otra pequeña muestra de mis trabajos como Diseñador Gráfico
              </p>
              <a class="button stroke smoothscroll" [routerLink]="['portfolio/diseno-grafico']" title="Diseño Gráfico"><i class="icon-eye"></i> +</a>
         </div>	                          

        </div> <!-- /portfolio -->

       

   </div> <!-- /portfolio-list -->
    
</div> <!-- /portfolio-content -->
 
</section> <!-- /portfolio -->	
