<!-- Portfolio : Diseño Web Section
   ================================================== -->
   <section id="portfolio">

    <!--breadcrum-->
    
          <h6 class="breadcrum"> 
              <a class="smoothscroll"  [routerLink]="['']" title="">Home</a>
          | Diseño Gráfico
              </h6>
  <!--end-->

  <div class="row section-intro">
     <div class="col-twelve">

         <h5>Diseño Gráfico</h5>
         <h1>Échale un Vistazo.</h1>

         <p class="lead">Trabajos como Diseñador Gráfico </p>

     </div>   		
 </div> <!-- /section-intro--> 

 <div class="row portfolio-content">

     <div class="col-twelve">

         <!-- portfolio-wrapper -->
       <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

           <div class="bgrid folio-item">
             <div class="item-wrap">
                 <img src="assets/images/portfolio/diseno-grafico/ADAMS/de01.jpg" alt="adams">
                <a href="#modal-01" class="overlay">	                  	           
                   <div class="folio-item-table">
                       <div class="folio-item-cell">
                                  <h3 class="folio-title">Editorial ADAMS</h3>	     					    
                                    <span class="folio-types">
                                        Diseño Gráfico / Cubiertas
                                  </span>
                              </div>	                      	
                   </div>                    
                </a>
             </div>	               
              </div> <!-- /folio-item -->

              <div class="bgrid folio-item">
             <div class="item-wrap">
                 <img src="assets/images/portfolio/diseno-grafico/razon/de05.jpg" alt="La razón">
                 <a href="#modal-02" class="overlay">              		                  
                   <div class="folio-item-table">
                       <div class="folio-item-cell">
                           <h3 class="folio-title">Diario La Razón</h3>	     					    
                                   <span class="folio-types">
                                        Diseño Gráfico / Maquetación
                                 </span>		     		
                              </div> 	                      	
                   </div>                    
                </a>
             </div>
              </div> <!-- /folio-item -->

          <div class="bgrid folio-item">
             <div class="item-wrap">
                 <img src="assets/images/portfolio/diseno-grafico/afrodita/dg_afrodita01.jpg" alt="afrodita">
                <a href="#modal-03" class="overlay">             		                  
                   <div class="folio-item-table">
                       <div class="folio-item-cell">
                           <h3 class="folio-title">Afrodita Gastrobar</h3>	     					    
                                   <span class="folio-types">
                                        Diseño Gráfico / Branding
                                 </span>		     		
                              </div> 	                      	
                   </div>                    
                </a>
             </div>
              </div> <!-- /folio-item -->

          <div class="bgrid folio-item">
             <div class="item-wrap">
                 <img src="assets/images/portfolio/diseno-grafico/editafacil/pub1.jpg" alt="Editafacil">
                <a href="#modal-04" class="overlay">                  	                 
                   <div class="folio-item-table">
                       <div class="folio-item-cell">
                           <h3 class="folio-title">Editafácil</h3>	     					    
                                   <span class="folio-types">
                                        Diseño web / Gráfico
                                 </span>		     		
                              </div>  	                      	
                   </div>                    
                </a>
             </div>
              </div> <!-- /folio-item -->     

            <!-- /folio-item -->   

          <!-- modal popups - begin
          ============================================================= -->
          <div id="modal-01" class="popup-modal slider mfp-hide">	

                   <div class="media">
                       <img src="assets/images/portfolio/diseno-grafico/ADAMS/de02.jpg" alt="Adams" />
                   </div>      	

                 <div class="description-box">
                    <h4>Editorial ADAMS</h4>		      
                    <p>Diseño de cubiertas para la editorial ADAMS</p>

                    <div class="categories">Diseño</div>			               
                 </div>

               <div class="link-box">
                  <a href="https://www.adams.es/" target="_blank">Ir a la Web</a>
                    <a href="#" class="popup-modal-dismiss">Cerrar</a>
               </div>		      

             </div> <!-- /modal-01 -->

             <div id="modal-02" class="popup-modal slider mfp-hide">	

                   <div class="media">
                       <img src="assets/images/portfolio/diseno-grafico/razon/portada_razon.jpg" alt="La razón" />
                   </div>      	

                 <div class="description-box">
                    <h4>Diario La Razón</h4>		      
                    <p>Trabajos realizados para el diario La Razón</p>

                    <div class="categories">Maquetación</div>			               
                 </div>

               <div class="link-box">
                  <a href="https://www.larazon.es/" target="_blank">Ir a la web</a>
                    <a href="#" class="popup-modal-dismiss">Cerrar</a>
               </div>		      

             </div> <!-- /modal-02 -->

             <div id="modal-03" class="popup-modal slider mfp-hide">	

                   <div class="media">
                       <img src="assets/images/portfolio/diseno-grafico/afrodita/afrodita3-1024x731.jpg"  alt="afrodita" />
                   </div>      	

                 <div class="description-box">
                    <h4>Afrodita Gastrobar</h4>		      
                    <p>Diseño y Branding Realizado para la empresa Afrodita Gastrobar</p>

                    <div class="categories">Branding</div>			               
                 </div>

               <div class="link-box">
                  <a href="#services" target="_blank">Ir a la Web</a>
                    <a href="#" class="popup-modal-dismiss">Cerrar</a>
               </div>		      

             </div> <!-- /modal-03 -->

             <div id="modal-04" class="popup-modal slider mfp-hide">	

                   <div class="media">
                       <img src="assets/images/portfolio/diseno-grafico/editafacil/pub4.jpg" alt="Editafácil" />
                   </div>      	

                 <div class="description-box">
                    <h4>Editafácil</h4>		      
                    <p>Diseño Web y Gráfico para la empresa Editafácil</p>

                    <div class="categories">Diseño Web / Gráfico</div>			               
                 </div>

               <div class="link-box">
                  <a href="https://www.editafacil.es/" target="_blank">Ir a la Web</a>
                    <a href="#" class="popup-modal-dismiss">Cerrar</a>
               </div>		      

             </div> <!-- /modal-04 -->

             


             <!-- modal popups - end
          ============================================================= -->

       </div> <!-- /portfolio-wrapper --> 

     </div>  <!-- /twelve -->   

 </div> <!-- /portfolio-content --> 
  
</section> <!-- /portfolio Diseño Web Section END--> 
